@import "tailwindcss";

/* TAILWIND CSS  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style personnalisé pour les placeholders */
.dark-placeholder::placeholder {
  color: #374151 !important;
  opacity: 1 !important;
}

@theme {
  --color-primary: #A0020F;
  --color-secondary: #F49CBB;
  --color-red-clear: #FEF6F7;
  --color-action: #DDE3FF;
  --color-grey: #5D7285;
  --color-grey-inactive: #989898;
  --color-white: #FFFFFF;
  --color-black: #282828;
}

@layer base {
  /* Import de la police Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

  /* Configuration de base */
  * {
    font-family: 'Poppins', sans-serif;
  }
  
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }

  /* Animation pour les projets filtrés */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Animation de haut en bas */
  @keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
  }

  .animate-fadeInFromTop {
    animation: fadeInFromTop 0.5s ease-out forwards;
  }

  /* Typographie Headlines */
  h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }

  h2 {
    font-size: 34px;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }

  h3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }

  h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  /* Paragraphe */
  p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {

  /* Classes utilitaires personnalisées */
  .headline-1 {
    @apply text-[48px] leading-[60px] font-bold;
  }

  .headline-2 {
    @apply text-[34px] leading-[50px] font-semibold;
  }

  .headline-3 {
    @apply text-[28px] leading-[38px] font-semibold;
  }

  .headline-4 {
    @apply text-[18px] leading-[22px] font-medium;
  }

  .paragraph {
    @apply text-[14px] leading-[24px] font-normal;
  }
}



/* OLD CSS  */
:root {
  --background: #ffffff;
  /* --foreground: #FFFFFF; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}